.review {
  &__author {
    font-size: 18px;
    font-weight: 500;
  }

  &__text {
    text-align: justify;
    text-indent: 20px;
  }

  &__date {
    margin-top: 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
  }
}
