.navi {
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.button {
  padding: 10px 0 10px 20px;

  color: whitesmoke;

  font-size: 20px;
  font-weight: 500;
}
