.card {
  display: flex;
  padding: 15px 75px;
  text-align: left;
  border-bottom: 1px solid rgb(1, 180, 228);
}
.img {
  display: block;
  border-radius: 5px;
  width: 460px;
  height: auto;
  margin-right: 30px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}
.relise {
}
.genres {
}
.score {
}
.overviews {
}
